/* HEADER */

.main-container {
    max-width: 80rem;
    height: 100rem;
    margin-left: 20rem;
    margin-right: 3.5rem;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
    margin: 1.25rem;
    border-radius: 0.5rem;
    background-color: #121212;
}

.header__navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__navigation .navigation .arrow-left {
    margin-right: 0.9375rem;
}

.arrow-left, .arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background: var(--bg-icon);
    background-color: var(--bg-arrow-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.header__login {
    display: flex;
    align-items: center;
}

.header__search {
    display: flex;
    align-items: center;
    width: 22.75rem;
    height: 3rem;
    margin-left: 0.5rem;
    background-color: var(--bg--search);
    border-radius: 31.25rem;
    border: 0.0625rem solid transparent;

}

.header__search img {
    width: 1rem;
    height: 1rem;
    margin-left: 1.25rem;
}

.header__search input {
    background: transparent;
    border: none;
    padding: 0 0.625rem 0 0.75rem;
    color: var(--text-base-light);
    text-overflow: ellipsis;
    overflow: hidden;
    outline: none;
    white-space: nowrap;
}

.header__login .subscribe {
    color: #a7a7a7;
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    margin-right: 2rem;
    border: transparent;
    cursor: pointer;
}

.header__login .login {
    width: 6.25rem;
    height: 3rem;
    color: var(--color-base-dark);
    font-size: 1rem;
    font-weight: 700;
    border-radius: 2.5rem;
    border: transparent;
    cursor: pointer;
}
 

.playlist-container {
    height: 72vh;
    padding-top: 1rem;
    margin: 1.25rem;
    background-color: #121212;
    border-radius: 0.625rem;
}

.playlist {
    margin: 3rem;
}

.playlist #greeting {
    color: var(--text-base-light);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.playlist .session {
    color: var(--text-base-light);
    font-size: 1.5rem;
    font: 700;
}